*{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    width: 410px;
}

#logo{
    width: 420px;
    height: auto;
}

#titulo{
    font-size: 35px;
    text-align: center;
    margin-bottom:10px;
    border: 2px solid  green;
    width: 410px;
}

#bot{
    font-size: 25px;
    color: white;
    background-color: green;
    width: 410px;
}

input{
    padding-left: 5px;
    width: 410px;
}

.resultado{
    color: green;
    padding-left: 5px;
}

p{
    border: 1px solid grey;
    width: 410px;
}

i{
    font-size: 15px;
    color: grey;
}